.tickers {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1000px;
	width: 100%;

	&-title {
		margin: 30px auto 50px;
		text-align: center;
		font-size: 25px;
	}
}

.carousel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.mantine-Carousel-controls {
	button {
		display: none;
	}
}

.allStocksList {
	img {
		height: 40px;
		border-radius: 50%;
	}
}
