@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif+TC:wght@200..900&display=swap');

* {
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	justify-content: center;
	font-family: 'Noto Serif TC', serif;

	margin-bottom: 100px;
}
